<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Не используйте это в production -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>

  {% include '_nav.html' %}

  {% block content %}{% endblock %}

  </body>
</html>
